/* You can add global styles to this file, and also import other style files */

.ng-valid[required],
.ng-valid.required {
    border-left: 10px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 10px solid #a94442;
    /* red */
}

.dropdown-backdrop {
    position: absolute;
}

.table-spacing {
    margin: 30px;
}

.spacing {
    margin: 10px;
}