<div [class]="titleClass">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{msg}}</p>
</div>
<div class="modal-footer">
  <button *ngIf="button1" type="button" [class]="button1.class" (click)="close('button1')">{{button1.label}}</button>
  <button *ngIf="button2" type="button" [class]="button2.class" (click)="close('button2')">{{button2.label}}</button>
</div>