.header-success {
    background-color: green;
    color: white;
}

.header-primary {
    color: white;
    background-color: #007bff;
}

.header-secondary {
    color: white;
    background-color: #6c757d;
}

.header-danger {
    color: white;
    background-color: #dc3545;
}