<div class="row spacing">
  <div class="col" style="text-align:center">
    <h1>
      {{ title }}
    </h1>
    <img width="300" alt="Fablab Logo" src="assets/img/mean-logo.jpg" class="spacing">
  </div>
</div>